* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top right, #175d69 23%, #330c43 95%);
}

header {
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 80px;
}

.site-name a {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
}

header nav a {
    position: relative;
    font-size: 24px;
    color: #fff;
    margin-left: 12px;
    margin-right: 12px;
}

header nav a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

header nav a:hover::before {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    min-height: 80vh;
}

.top-section {
    width: 100%;
    height: 80vh;
    display: flex;
    /* border: 1px solid rgb(10, 116, 216); */
    /* background: rgb(10, 116, 216); */
}

.home-image {
    width: auto;
    height: 100%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.home-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.home-text h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 900;
}

.home-text p {
    font-size: 32px;
    color: #fff;
}

footer {
    color: #fff;
    /* background: rgb(10, 116, 216); */
    padding: 1.5rem 3rem;
    text-align: center;
}

footer section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 24px;
}

footer section article {
    width: 30%;
}

footer section h4 {
    font-size: 24px;
    margin-bottom: 24px;
}

footer section p {
    font-size: 16px;
    margin-bottom: 6px;
}

.footer-text {
    margin-top: 12px;
}

.vote-section {
    width: 80vw;
}

.vote-section img {
    width: 100%;
}

.vote-section article {
    margin-top: 30px;
}

.vote-section article button {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.vote-section article button:active {
    height: 38px;
    width: 96px;
    margin-left: 22px;
    margin-right: 22px;
}

.vote-section article button:first-child {
    background-color: rgb(63 39 209);
}

.vote-section article button:nth-child(2) {
    background-color: #168140;
}

.vote-section article button:nth-child(3) {
    background-color: #db2e0a;
}
