* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top right, #175d69 23%, #330c43 95%);
}

header {
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
}

.site-name a {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
}

header nav a {
    position: relative;
    font-size: 24px;
    color: #fff;
    margin-left: 12px;
    margin-right: 12px;
}

header nav a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

header nav a:hover::before {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    min-height: 80vh;
}

.top-section {
    width: 100%;
    height: 80vh;
    display: flex;
    /* border: 1px solid rgb(10, 116, 216); */
    /* background: rgb(10, 116, 216); */
}

.home-image {
    width: auto;
    height: 100%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.home-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.home-text h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 900;
}

.home-text p {
    font-size: 32px;
    color: #fff;
}

footer {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    padding: 1.5rem 3rem;
    text-align: center;
}

footer section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 24px;
}

footer section article {
    width: 30%;
}

footer section h4 {
    font-size: 24px;
    margin-bottom: 24px;
}

footer section p {
    font-size: 16px;
    margin-bottom: 6px;
}

.footer-text {
    margin-top: 12px;
}

.vote-section {
    width: 80vw;
}

.vote-section img {
    width: 100%;
}

.vote-section article {
    margin-top: 30px;
}

.vote-section article button {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.vote-section article button:active {
    height: 38px;
    width: 96px;
    margin-left: 22px;
    margin-right: 22px;
}

.vote-section article button:first-child {
    background-color: rgb(63 39 209);
}

.vote-section article button:nth-child(2) {
    background-color: #168140;
}

.vote-section article button:nth-child(3) {
    background-color: #db2e0a;
}

.login-form-section {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

.login-form-section h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.form-group {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .3s;
}

.form-group .move-up {
    top: -5px;
}

.form-group input:focus~label {
    top: -5px;
}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.form-group .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
}

.forgot a {
    color: #fff;
}

.forgot a:hover {
    text-decoration: underline;
}

.login-form-section button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.register-form-section {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.register-form-section h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: end;
}

.input-box label {
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.alert p {
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}

.alert a {
    font-weight: bold;
    text-decoration: none;
    color: skyblue;
}

.alert a:hover {
    text-decoration: underline;
    color: #380036;
}

.button-container {
    margin: 15px 0;
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #aa076b, #61045f);
    cursor: pointer;
}

.button-container button:hover {
    background: linear-gradient(to right, #a9387e, #8a3a89);
}

@media (max-width: 600px) {
    .register-form-section {
        min-width: 380px;
    }

    .content {
        max-height: 380px;
        overflow: auto;
    }

    .input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .input-box:nth-child(2n) {
        justify-content: space-between;
    }

    .content::-webkit-scrollbar {
        width: 0;
    }
}

.input-error {
    border: 1px solid red !important;
}